@import "./bootstrap-override.scss";

// Typographies
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$base-xxl-size: 2rem;
$base-xl-size: 1.5rem;
$base-lg-size: 1.125rem;
$base-md-size: 1rem;
$base-sm-size: 0.875rem;
$base-xs-size: 0.75rem;

.font-base-xxl {
  font-size: $base-xxl-size;
}

.font-base-xl {
  font-size: $base-xl-size;
}
.font-base-lg {
  font-size: $base-lg-size;
}
.font-base-md {
  font-size: $base-md-size;
}
.font-base-sm {
  font-size: $base-sm-size;
}
.font-base-xs {
  font-size: $base-xs-size;
}
