@use "@styles/bootstrap-override" as bsVariables;
@use "@styles/typography" as typography;

.feature-card {
  &.card {
    aspect-ratio: 4/5;
    transition: 0.5s;
    box-shadow: 0 2px 4px 0 #99c9e9, 0 0 0 2px #99c9e9;
    justify-content: flex-end;

    .card {
      &-img-top {
        // flex: 1 1 auto;
        width: 55%;
      }
      &-body {
        // border-top: none;
        flex: 0 0 25%;
      }

      &-title {
        color: bsVariables.$primary;
        text-decoration: none;
        @include typography.font-base-md;

        @include bsVariables.media-breakpoint-up(lg) {
          @include typography.font-base-xl;
        }
      }
    }

    &:hover {
      background-color: #0d278f;
      .card {
        &-title {
          color: white;
        }
      }
    }
  }
}
