---
import MainLayout from "../layouts/main.astro";
import { Breadcrumb } from "@components/breadcrumb/breadcrumb";
import LocationDirectorLabel from "@components/label/location-director/location-director-label";
import BookingForm from "@modules/form/booking/booking";
import { Row, Col } from "react-bootstrap";
---

<MainLayout title="Homepage">
  <div class="h-100 d-flex align-items-center">
    <Row className="justify-content-center flex-grow-1">
      <Col>
        <Breadcrumb />
        <LocationDirectorLabel director="From" location="Batam" />
        <BookingForm client:load />
      </Col>
    </Row>
  </div>
</MainLayout>
