---
import MainLayout from "../layouts/main.astro";
import { Breadcrumb } from "@components/breadcrumb/breadcrumb";
import PassengerDetailsForm from "@modules/form/passenger-details/passenger-details";
import { Row, Col } from "react-bootstrap";
---

<MainLayout title="Homepage">
  <div class="h-100 d-flex align-items-center">
    <Row className="justify-content-center flex-grow-1">
      <Col>
        <Breadcrumb client:only />
        <div class="d-flex align-items-center justify-content-between">
          <h1 class="font-base-xl text-primary">Add Passenger</h1>
          <div class="d-flex align-items-center gap-1">
            <span class="p-2 rounded-circle bg-primary"></span>
            <strong class="font-base-sm text-secondary">46 Seat</strong>
            <span class="font-base-sm text-primary">Available</span>
          </div>
        </div>
        <PassengerDetailsForm client:load />
      </Col>
    </Row>
  </div>
</MainLayout>
