.schedule-pagination {
  .page-item {
    a,
    span {
      &.page-link {
        border-radius: 50%;
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
