---
import Header from "@modules/header/header.tsx";
import Footer from "@modules/footer/footer.tsx";
import Toast from "@components/toast/toast.tsx";

interface Props {
  title: string;
  header?: Boolean;
  footer?: boolean;
}

const { title, header, footer } = Astro.props;

import "bootstrap/dist/css/bootstrap.min.css";
import "@styles/styles.scss";
import { Container } from "react-bootstrap";
import { ViewTransitions } from 'astro:transitions';
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="main-layout">
      {header !== false && <Header client:load />}
        <Container className="main-layout__content">
          <slot />
          <Toast client:load transition:persist/>
        </Container>
      {footer !== false && <Footer />}
    </div>
  </body>
</html>
<style is:global>
  .main-layout {
    min-height: 100vh;
    position: relative;
    display: flex;
  }

  .main-layout nav {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .main-layout .main-layout__content {
    padding-top: 86px;
    padding-bottom: 87px;
  }

  .main-layout footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }
</style>
<script >
  import { authenticate } from "@contexts/auth";
  authenticate();
</script>